{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row divider green">
  <div class="col-md-12"></div>
</div>
<div class="row banner menu">
  <div class="col-md-11 col-md-offset-1 padding-none">
    <h1> Edit Item </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-1 padding-top">
    <form action= "url_for('editItem', category_id=category.id, items_id=item.id)" method = 'POST'>
      <div class="form-group">
        <label 

      <p>Name:</p>
      <input type = 'text' size='30' name= 'name' placeholder = '{{item.name}}'>
      <p>Description:</p>
      <input type='text' size='30' name = 'description' placeholder='{{item.description}}'>
      <p>Price:</p>
      <input type = 'text' size = '30' name='price' placeholder='{{item.price}}'>
      <dt>


  <input type='submit' value='Edit'>

  <a href= '{{url_for('showItems', category_id= item.category_id)}}' >Cancel</a>
  </form>
</body>

</html>
