<html>
<head>
      <link rel=stylesheet type=text/css href="{{url_for('static', filename='styles4.css')}}">
</head>
<body>

  <h1> Edit Item </h1>

    <form action= "#" method = 'POST'>


      <p>Name:</p>
      <input type = 'text' size='30' name= 'name' placeholder = '{{item.name}}'>
      <p>Description:</p>
      <input type='text' size='30' name = 'description' placeholder='{{item.description}}'>
      <p>Price:</p>
      <input type = 'text' size = '30' name='price' placeholder='{{item.price}}'>
      <dt>


  <input type='submit' value='Edit'>

  <a href= '{{url_for('showItems', category_id= item.category_id)}}' >Cancel</a>
  </form>
</body>

</html>
