<html>
<head>
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='styles4.css') }}">
</head>

<body>
  <h1> Add a new Item to chosen category </h1>

  <div class = 'pane'>

    <form action="{{url_for('newItem', category_id=category_id )}}" method= 'POST'>

    <dl>
      <p>Name:</p>
      <dd><input type='text' size='30' name='name'></dd>
      <dt>Description:</dt>
      <dd><input type='text' size='60' name = 'description' rows ='5', cols='40'></dd>
      <dt>Price:</dt>
      <dd><input type = 'text' size = '8' name='price'></dd>
      <dt>
    </dl>

    <input type='submit' value='Add'>

    </form>
  </div>
</body>
</html>
